<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primeira página com Thymeleaf</title>
</head>
<body>
<p th:text="${mensagemDaController}"></p>
<form method="post" th:action="@{/create}" th:object="${pessoa}">
    <label>
        Nome do candidato:
        <input type="text" name="nome">
    </label>
    <br>
    <label>
        Email:
        <input type="email" name="email">
    </label>
    <br>
    <label>
        Usuário:
        <input type="text" name="usuario">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
